
*{
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body{
    overflow: hidden;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #d6d9e0;
}

.container{
    position: absolute;
    width: auto;
    border-radius: 14px;
    padding: 10px 20px;
    background: #fff;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.05);  
    font-size: 3rem;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

span{
    padding: 0.2rem;
    color: #d6d9e0;
}
